* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: #0f0e17;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}

h1 {
  font-weight: 800;
  color: #e4306f
  
}


.container {
  width: 800px;
  margin: 0 auto;
}

.col {
  background-color: #ffffff20;
  border: 1px solid black;
  /* debug */
  
  width: 33%;

  text-align: center;

}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}